{%extends 'base.html'%}  
{%block title%}  
MingleChang
{%end%} 
{%block link%}  
<link rel="stylesheet" href="{{static_url("CSS/blog.css")}}">
{%end%}
{%block content%}
<div class="container" id="blog-content"> 
<div class="row">
	<div class="col-xs-2 hidden-xs hidden-sm">
		<img src="http://7xp3zz.com1.z0.glb.clouddn.com/mheader.png" width="100%" alt="..." class="img-circle">
		<div>MingleChang</div>
		<a href="https://github.com/MingleChang">@GitHub</a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-10">
     <ul class="list-unstyled">
     	{% for value in values %}
     	<li>
         <a href="/blog/{{value[0]}}">
          <h4 class="list-group-item-heading">{{value[1]}}</h4>
          <p class="list-group-item-text">{{value[2]}}</p>
        </a>
    	</li>
         {% end %}
      </ul>
      </div>
</div>
</div>
{%end%} 